{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Arithmetic proficiency is a foundation of success!</h2>
    </div>
  </div>
	<div class="row">
		<div class="col">
			<h5>We would like to promote arithmetic proficiency with 
				proven efficient method<br>while reducing scoring workload of teachers and parents</h5>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col">
			<p>RISU found that many students in the US did not have sufficient arithmetic proficiency 
				and strugged with math because of it while providing the services. There is an effective and 
				efficient method to improve arithmetic proficiency.<br>
				About a quarter of elementary teachers in Japan use the similar workshets almost everyday though the scoring takes hours since the method is so great.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>This service reduces the scoring workload from hours to minutes. </h5>
			<p>With power of artificial intelligence, the scoring gets easy and quick. 
				This AI will get better as you use so please be pacient. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>Blank Worksheets</h5>
			<ul>
				<li>Addition Sequential</li>
				<li><a href="/static/pdf/81_addition_random.pdf">Addition Random</a></li>
				<li>Subtraction Sequential</li>
				<li><a href="/static/pdf/81_subtraction_random.pdf">Subtraction Random</a></li>
				<li>Multiplication Sequential</li>
				<li><a href="/static/pdf/81_multiplication_random.pdf">Multiplication Random</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5><a href="https://www.myrisu.com/us/">RISU USA, LLC</a></h5>
			<p>Sunnyvale, CA 94087 USA
			</p>
		</div>
	</div>
</div>

{% endblock %}
