{% extends "public/templates/public_template.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Privacy Policy</h2>
    </div>
  </div>
	<div class="row">
		<div class="col">
			<p>The Privacy Policy appliies to all users of this service. 
				RISU USA, LLC (RISU) keeps uploaded images or entered information confidential.
			Collection, use, and sharing of the data is governed by applicable lows and regulations. 
			RISU will not share the collected personal information with any third parties. 
			RISU may share uploaded image data with third parties after extracting all privacy information without prior concent.
			RISU also may share aggregated information including but not limited to average time to solve a worksheet or average score with third parties.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>What information does RISU collect about you?</h4>
			<p>RISU collects information in serveral wayas from different parts of the service.</p>
			<h5>Information you provide to us.</h5>
			<p>When you register an account, you proivde your name, email address, and password. 
				When you update your account information, you may upload a profile image. 
				During the course of providing the service, we collect information about your use of the service such as correction of scoring result. 
				In addition, we may ask you for personal information at other time when we contact you for our research, interview, feedback to improve the service via email or survey. 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h5>Information we receive automatically from your use of service.</h5>
			<p>RISU and our vendors automatically collect certain types of usage information when you use this service, 
				read our emails, or engage with us. This information is typically collected through a variety of 
				tracking technologies, including cookies, web beacons, Locally Stored Objects (LSOs such as Flash or HTML5), 
				log files, and similar technology (collectively, "tracking technologies"), and we may use third party providers 
				to collect this information on our behalf. These tracking technologies collect information about how you access 
				and use the Service (e.g., referring / exit pages and URLs, how frequently you access the Service, the pages you 
				view, the links you click, and other actions you take on the Service); information about your browser and 
				information about the device(s) you use to access the Service (e.g., Internet Protocol (IP address), 
				browser type, browser language, Internet service provider, device type, model and manufacturer, a unique ID 
				that allows us to uniquely identify your browser, device or account, operating system brand and model, and 
				whether you access the Service from multiple devices). We may also collect information about your geographical 
				location data at the city level. We may collect analytics data, or use third-party analytics tools, such as 
				Google Analytics, to help us measure traffic and usage trends for the Service and to understand more about 
				the demographics and behaviors of our users. You can learn more about Google's practices 
				at http://www.google.com/policies/privacy/partners. We may also work with third party partners to employ 
				technologies, including the application of statistical modeling tools, which permit us to recognize and 
				contact you across multiple devices. Although we do our best to honor the privacy preferences of our users, 
				we are unable to respond to Do Not Track signals set by your browser at this time.
				We use or may use the data collected through tracking technologies to secure the service, improve the service, 
				to save you time, to provide better technical support, for promotional purposes, and to track website usage.   
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>How RISU uses the information we collect</h4>
			<p>We use the information we collect for the following purposes:</p>
			<h5>To provide and maintain the Service.</h5>
			<p>We use the information we collect to deliver the Service to you. For example, we need to use your information 
				to respond to inquiries and provide customer support.
			</p>
			<h5>To improve, personalize, and develop the Service.</h5>
			<p>We use information to train AI models used to score worksheets, tailor the content and information that we may 
				send or display to users, to offer personalized content and instructions, and to otherwise personalize your 
				experience while using the service, including on various devices you may use to access the service. 
				We collect statistics to better understand how users access and use our service, monitor the effectiveness of 
				our service, detect usage patterns, and to diagnose or fix technology problems. 
				We also use information to demonstrate the effectiveness of the service and perform research, and to develop, 
				support, and improve our service and other educational products and services.
			</p>
			<h5>To communicate with you.</h5>
			<p>We may use your information to notifications for certain activities relating to your use of our service. 
				For example, we may send e-mail notifications when you reset password. 
				From time to time, we may send periodic promotional or informational e-mails you such as formal service in. 
				You may opt-out of certain communications (e.g., marketing notifications) by following the opt-out instructions 
				contained in the e-mail. You may not opt out of service-related communications (e.g., account verification, 
				changes/updates to features of the service, technical and security notices).
			</p>
			<h5>To promote safety and security and respond to legal process.</h5>
			<p>We use information to promote the safety and security of our Service, our uses and other third parties. 
				For example, we may use the information to authenticate users, facilitate secure payments, detect and prevent 
				fraud and other harmful	activities, respond to legal requests or claims, and enforce our terms and policies.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>How does RISU share your information?</h4>
			<p>We may share or disclose your personal information as needed to provide our service.</p>
			<h5>Vendors and Service Providers.</h5>
			<p>We may share information with our trusted vendors, third party service providers and individuals to provide 
				services for us or on our behalf, which may include analytics, hosting, targeted advertising, and marketing.
			Vendors and service providers who have access to your privacy information shall be contractually bound to 
			uphold privacy and confidentiality terms.
			</p>
			<h5>Aggregate or De-Identified Information.</h5>
			<p>We may share information in aggregated and/or anonymous form that cannot reasonably be used to identify an 
				individual. For example, we may disclose aggregated user statistics (i.e., the total number or percentage 
				of our users from a particular geographic region) in order to describe our service to current and 
				prospective partners and other third parties, and for other lawful purposes.
			</p>
			<h5>Other.</h5>
			<p>We may release personal information if it has a good faith belief that access, use, preservation, or 
				disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, 
				legal process, or enforceable governmental request; (b) enforce applicable Terms of Service, including 
				investigation of potential violations thereof; (c) detect, prevent or otherwise address fraud, security 
				or technical issues; (d) protect the rights, property, or personal safety of RISU, its users, or the 
				public; or (e) as required or permitted by law.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>How to access, update or delete your personal information.</h4>
			<p>You may edit your account information at any time by signing in to your account, clicking on the account 
				menu in the upper-right corner.</p>

			<p>Please contact support@us.myrisu.com about deleting your account or your personal information. 
				When account information is deleted or de-identified, certain residual information may remain within our
				archive records, such as for customer and technical support.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h4>How long does RISU retain your information?</h4>
			<p>We will retain personal information for as long as needed to provide the Service and for our internal 
				business purposes, which may extend beyond the termination or cancellation of your subscription or 
				user account.</p>
	
			<p>Please contact support@us.myrisu.com about deleting your account or your personal information.
				When account information is deleted or de-identified, certain residual information may remain within our
				archive records, such as for customer and technical support.
			</p>
		</div>
	</div>
</div>

{% endblock %}
