{% extends "public/templates/public_template.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Terms of use</h2>
	</div>
  </div>
<div class="row">
	<div class="col">
		<h3>This site is in beta testing now and may stop providing the service permanently or temporally without a prior notice.</h3>
		<p>RISU USA, LLC (RISU) provides this service free of charge.<br> RISU has no responsibility nor any obligations on the accuracy
		of scoring, bugs, uploaded images, actions you take.<br>
		RISU will not provide any customer support at this time including but not limited to download of uploaded worksheet
		images, technical support, and training.<br>
		By using this service, you agree that RISU may use the uploaded images as samples and/or for training of AI models. You
		also agree that RISU may contact you via email for the usage, interview, or research.</p>
		<P>Version 1.0 Nov. 26th, 2021</P>
		<P>RISU USA, LLC</p>
	</div>
</div>
</div>

{% endblock %}
